.delivery_header {
  margin: 4rem 5rem;
  padding: 1rem 3rem;
  color: rgba(0, 0, 0, 0.76);
}

input {
  cursor: pointer;
}

.icons {
  width: 3rem;
}
.price_chart {
  font-size: 1.15rem;
}
.totalPrice .container {
  width: 40%;
}
.choosefile {
  background: var(--greyLight-1);
}
.choosefile:active,
.choosefile:focus {
  box-shadow: var(--shadow-in);
  background: var(--greyLight-1);
  outline: none;
}
.headerImage {
  border-radius: 0.8rem !important;
}

.pdfImg {
  width: 8rem;
}
.add_to_cart {
  background: var(--primary-dark);
  color: #ffffff;
  text-decoration: none;
  border-radius: 6px;
  padding: 0.6rem;
}

.form-check-input:focus,
.form-check-input:active {
  outline: none !important;
  box-shadow: none !important;
  
}
.instructions{
  box-shadow: var(--shadow-in);
  background: var(--greyLight-1);
}
.form-control:checked{
  box-shadow: none!important;
  background: red;
}
.form-control:focus,
.form-control:active {
  outline: none !important;
  background: var(--greyLight-1);
  box-shadow: var(--shadow-out) !important;
  border: none;
  
}
.form-check-input:checked{
  background-color: var(--primary);
}

@media screen and (max-width: 450px) {
  .delivery_header {
    margin: 2rem 1rem;
    padding: 1rem 1rem;
  }
  .main_delivery_section {
    margin: 1rem 1rem !important;
  }
  .main_delivery_section .Options {
    padding: 1rem 1rem !important;
  }
  #formFileLg {
    font-size: 1rem !important;
  }
  .totalPrice .container {
    width: 80%;
  }
}
