@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@500&display=swap");
::-webkit-scrollbar {
  width: 10px;
}
:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #7938f3;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --shadow-out: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  --shadow-in: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}
body {
  background: var(--greyLight-1);
}
.dim {
  color: var(--primary-dark);
}
.shadow-out {
  box-shadow: var(--shadow-out);
}
.shadow-in {
  box-shadow: var(--shadow-in);
}
.pop {
  font-family: "Poppins", sans-serif;
}
.jsf {
  font-family: "Josefin Sans", sans-serif;
}
.center {
  display: grid;
  place-items: center;
}
