@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@500&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}
body {
  background: radial-gradient(
      97.39% 191.07% at 100% 100%,
      rgba(255, 255, 255, 0.68) 0%,
      rgba(255, 255, 255, 0.688) 100%
    ),
    radial-gradient(
      57.84% 66.37% at 28.11% 57.84%,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      167.59% 313.95% at 0% 0%,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(227, 167, 255, 0.34) 100%
    ),
    radial-gradient(
      160.42% 74.34% at 58.67% 95.08%,
      rgba(66, 0, 255, 0.16) 0%,
      rgba(173, 0, 255, 0) 100%
    ),
    linear-gradient(106.43deg, rgba(104, 128, 255, 0.35) 5.83%, #a3ffff 95.14%);
  height: 100vh;
}
.bg {
  background: radial-gradient(
      97.39% 191.07% at 100% 100%,
      rgba(255, 255, 255, 0.68) 0%,
      rgba(255, 255, 255, 0.688) 100%
    ),
    radial-gradient(
      57.84% 66.37% at 28.11% 57.84%,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      167.59% 313.95% at 0% 0%,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(227, 167, 255, 0.34) 100%
    ),
    radial-gradient(
      160.42% 74.34% at 58.67% 95.08%,
      rgba(66, 0, 255, 0.16) 0%,
      rgba(173, 0, 255, 0) 100%
    ),
    linear-gradient(106.43deg, rgba(104, 128, 255, 0.35) 5.83%, #a3ffff 95.14%);
}
.dim {
  color: rgba(10, 28, 87, 0.75);
}
.pop {
  font-family: "Poppins", sans-serif;
}
.jsf {
  font-family: "Josefin Sans", sans-serif;
}
.center {
  display: grid;
  place-items: center;
}
.shadow-out {
  box-shadow: 5px 5px 10px rgba(163,177,198,0.5), -5px -5px 10px rgba(255, 255, 255, 0.6);
}
